section.row.demo
	.demo-img.col-lg-6.col-md-6.col-sm-6.col-xs-12
		.demo-img-item
			p Design surveys  with a variety of questons formats
			img(src="./images/image-questions.png", alt="Questions")
	.demo-img.col-lg-6.col-md-6.col-sm-6.col-xs-12
		.demo-img-item
			p Collect data in tidy spreadsheets
			img(src="./images/image-spreadsheets.png", alt="Questions")