section.row.survey-menu.nav-menu
	.brand
		.logo
			img(src="./images/pngs/logo-fullColor.png" alt="Formidable" title="Formidable")
	.login
		a(href="#") Login
	.nav-mobile
		img(src="./images/pngs/burger-regular.png", alt="")