section.row.hero
	.hero-container
		.hero-title.hero-block.col-lg-7.col-md-7.col-sm-7.col-sm-12
			.title-item
				h1 Create beautiful forms
			.title-item
				p Increase response rate & quality with design that delights
			.title-item.title-btn
				a.btn-singup.btn-regular(href="#") Sign Up
		.hero-image.hero-block.col-lg-5.col-md-5.col-sm-5.col-sm-12
			img(src="./images/image-devices.png", alt="Formidable Devices")
