doctype html
html(lang='en-us')
	include ./components/head/head
	body
		.main
			include ./landing-page/nav-menu/layout
			.site-wrapper
				include ./landing-page/hero/layout
				include ./landing-page/message/layout
				include ./landing-page/demo/layout
				include ./landing-page/footer/layout