#field_opt.survey-optionBox
		.content-options
			p.option-title Add a Question
			.option-content
				button.btn-action.btn-singleLine(value="Single Line") Single Line
				button.btn-action.btn-parragraph(value="Paragraph") Parragraph
				button.btn-action.btn-checkBox(value="Check boxes") Check Boxes
				button.btn-action.btn-multipleChoice(value="Multiple Choises") Multiple Choice