section.row.nav-menu
	.brand
		.logo
			img(src="./images/pngs/logo-white.png" alt="Formidable" title="Formidable")
	.login
		a(href="#") Login
	.nav-mobile
		img(src="./images/pngs/burger-white.png", alt="")