<%# 
  Desc:
  Markup for the desktop and mobile landing page

  Notes:
  - Feel free to use the structure provided or make changes as you see fit
  - Use HTML/CSS over images where necessary
  - Follow traditional web standards
%>

<!-- Landing page -->
<div class="container home">
  <div class="home-hero">
    <div class="header">
    </div>
  </div>
  <div class="home-content">
  </div>
  <div class="home-footer">
  </div>
</div>
