section.row.message
	.message-content
		p._content-top what the market saying
		p._content-body "84% of all companies use data collection software that hasn't been update  in at least 6 months."
		p._content-credits - Wired